@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --main-color: #b2c3bd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 39, 79, 91;
    --background-end-rgb: 28, 57, 65;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.main-color {
  color: var(--main-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.glitch-logo {
  width: 150px;
  height: 103px;
  /* width: 200px;
  height: 155px; */
  background-image: url(/main-logo.png);
  background-size: cover;
  animation: glitch 1.5s infinite steps(1);
}

@keyframes glitch {
  0%,
  100% {
    background-image: url(/main-logo.png);
  }
  92.5% {
    background-image: url(/glitch-1.png);
    opacity: 1;
  }
  95% {
    background-image: url(/glitch-2.png);
    opacity: 0;
  }
  97.5% {
    background-image: url(/glitch-3.png);
    opacity: 1;
  }
}
